h1{
    font-family: Veteran Typewriter;
}

body{
    background:
        radial-gradient(ellipse at top, #6482e6, transparent),
        radial-gradient(ellipse at bottom, #aa70da, transparent);
    background-attachment: fixed;
    color: #6cacc5;
    font: 300 18px/1.6 "Source Sans Pro",sans-serif;
    margin: 0px;
    padding: 5em 0 2em;
    text-align: center;
}

.calculadora{
    display: inline-block;
    justify-content: center;
    width: 300px;
    background-color: rgb(212, 238, 231);
    border-color: rgb(187, 204, 204);
    border-radius: 20px;
    box-shadow: inset 10px 0 rgba(255,255,255,0.7), inset -10px 0 rgba(0,0,0,0.2);
    padding: 20px;
    height: 350px;
}
.calculadora_buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.display{
    display: inline-block;
    justify-content: flex-end;
    width: 300px;
    height: 60px;
    margin-bottom: 10px;
    background-color: rgba(12, 5, 5, 0.411);
    color: rgb(58, 56, 56);
    font: normal 2rem serif;
    border-radius: 5px;
    max-height: 50px;
    overflow: hidden;
    text-align: right;
}

button{
    border: 0;
    background: rgba(92, 78, 212, 0.404);
    color: #c8dde6;
    height: 30px;
    padding: 19px;
    display: inline-block;
}

button:hover{
    background-color: #aaf5bd5d;
    color: black;
}

.tecla-igual{
    background-color: rgba(233, 79, 79, 0.493);
    color: white;
}
.tecla-limparDisplay {
    padding: 12px;
    height: 40px;
}
.tecla-backspace {
    padding: 13px;
    height: 40px;
}

.tecla-OnOff {
    padding: 3px;
    height: 40px;
    background-color: rgba(233, 79, 79, 0.52);
    box-shadow: inset 0 2px rgb(245, 150, 150), inset 0 -4px rgba(238, 128, 128, 0.2);
    color: rgb(253, 249, 249);
}

